
#exw-terminal-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.exw-terminal {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 400px;
	width: 500px;

	display: flex;
	flex-direction: column;

	background-color: #222425;
	color: white;

	font-family: "Inconsolata", "Courier New", Courier, monospace;
	font-weight: 200;
	font-size: 12px;

	overflow: hidden;
	padding: 6px 6px;

	box-sizing: border-box;
}
.exw-terminal-container {
	box-sizing: border-box;
	margin-top: 2px;
	flex-grow: 1;
	flex-shrink: 1;

	display: flex;
	flex-direction: column;

	overflow-y: hidden;

}
.exw-terminal-footer {
	box-sizing: border-box;
	align-self: flex-end;

	flex-grow: 0;
	line-height: 28px;

	display: flex;
	flex-direction: row;

	width: 100%;
	padding-left: 2px;
	padding-right: 2px;

	margin-top: auto;
}
.exw-terminal-msg {
	flex-grow: 1;
	line-height: 28px;
}
.exw-terminal-busy {
	flex-grow: 0;
	line-height: 28px;
	width: 28px;
	margin-left: 6px;
	display: none;
}
.exw-terminal.isBusy .exw-terminal-busy {
	display: block;
}
.exw-terminal-busy svg {
	stroke: #E3C091;
	width: 28px;
	height: 28px;
}

.exw-terminal-buffer {
	order: 1;
	width: 100%;
	overflow-x: auto;
	overflow-y: auto;
  	scroll-snap-type: y mandatory;
}
.exw-terminal-buffer::-webkit-scrollbar {
	height: 0;
	width: 0;
	background: transparent;
}
.exw-terminal-buffer::selection {
	background-color: #f3e5ab;
	text-shadow: none !important;
}

/*firefox scrollbar*/
.exw-terminal-buffer {
	scrollbar-width: thin;
  	scrollbar-color: rgba(92, 92, 92, 0.5) #222425;
}
.exw-terminal-buffer::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.exw-terminal-buffer::-webkit-scrollbar-track,
.exw-terminal-buffer::-webkit-scrollbar-corner {
	background: #222425;
}
.exw-terminal-buffer::-webkit-scrollbar-thumb {
	border: 2px solid 222425;
	background: rgba(92, 92, 92, 0.5);
	border-radius: 5px;
	box-shadow: 0 0 1px black inset;
 }
.exw-terminal-buffer .std-out {
	line-height: 20px;
	min-height: 20px;
	font-size: 16px;
	white-space: nowrap;

	overflow-x: scroll;
	scrollbar-width: none;
}
.exw-terminal-buffer .std-out::-webkit-scrollbar {
	height: 0;
	background: transparent;
}
.exw-terminal-buffer .std-out .std-out-prompt {
	margin-right: 6px;
}
.exw-terminal.blinkOn .exw-terminal-buffer .std-out span.f-blink-y {
	color: inherit;
	-webkit-filter: invert(100%);
    filter: invert(100%);
}
.exw-terminal.blinkOn .exw-terminal-buffer .std-out span.f-blink-n {
	color: inherit;
	-webkit-filter: none;
	filter: none;
}
.exw-terminal-buffer .std-out span.f-b-y {
	font-weight: bold;
}
.exw-terminal-buffer .std-out span.f-b-n {
	font-weight: normal;
}
.exw-terminal-buffer .std-out span.f-i-y {
	font-style: italic;
}
.exw-terminal-buffer .std-out span.f-i-n {
	font-style: normal;
}

.exw-terminal-buffer .std-out span.f-td-u.f-td-st {
	text-decoration: underline line-through;
}
.exw-terminal-buffer .std-out span.f-td-u:not(.f-td-st) {
	text-decoration: underline;
}
.exw-terminal-buffer .std-out span.f-td-st:not(.f-td-u) {
	text-decoration: line-through;
}
.exw-terminal-buffer .std-out span:not(.f-td-u):not(.f-td-st) {
	text-decoration: none;
}

.exw-terminal-prompt {
	box-sizing: border-box;
	order: 2;

	flex-grow: 0;

	width: 100%;
}
.exw-helper-textarea {
	position: absolute;
	opacity: 0;
	left: -9999em;
	top: 0;
	width: 0;
	height: 0;
	z-index: -10;
	white-space: nowrap;
	overflow: hidden;
	resize: none;
}
.exw-terminal-prompt .prompt {
	box-sizing: border-box;
	line-height: 20px;
	font-size: 16px;

	color: #f3e5ab;
	font-weight: bold;
	flex-grow: 0;
	margin-right: 6px;
}
.exw-terminal-prompt .command-input {
	box-sizing: border-box;
	line-height: 20px;
	font-size: 16px;

	flex-grow: 0;

	caret-color: transparent;
	color: white;
    font-weight: normal;
	outline: none;
	padding-right: 2px;
}
.exw-terminal-prompt .terminal-cursor {
	box-sizing: border-box;
 	position: relative;
	color: #000;
	line-height: 20px;
	font-size: 16px;
}
.exw-terminal.blinkOn .exw-terminal-prompt .terminal-cursor {
    background-color: #fff;
	border: 1px solid #fff;
}
.exw-terminal:not(.blinkOn) .exw-terminal-prompt .terminal-cursor {
    background-color: rgba(0,0,0,0);
}
